*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #c4f6b2;
    width: 100%;
    position: fixed;
    padding: 20px;
    z-index: 9999;
}
header h1{
    color: #901f4d;
    float: left;
    width: 300px;
    padding-top: 5px ;
}
header nav{
    margin: 10px 0 10px;
    float: right;
}
header li{
    display: inline;
    padding-right: 40px;
}
header a{
    color: #901f4d;
    text-decoration: none;
    font-weight: 600;
}
section{
    background-color: #fffbdb;
    width: 100%;
    height: 620px;
}
form{
    width: 400px;
    height: 300px;
    background-color: white;
    text-align: center;
    top: 200px;
    position: relative;
    margin-left: 35%;
    border: 1px solid black;
}
form label, input, textarea{
    margin-top: 10px;
}
label:first-child, input:first-child{
    margin-top: 25px;
}
form textarea{
    padding: 10px;
    margin-top: 25px;
}
input{
    padding: 3px;
}
#submit{
    padding: 3px 10px;
}
#submit:hover{
    cursor: pointer;
}
footer{
    background-color: #daf9e9;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: absolute;
}
footer h5,a{
    font-weight: normal;
    text-decoration:none;
}
footer a{
    color: black;
    font-size: 14px;
}
footer span{
    display: flex;
}
footer .insta img{
    width: 20px;
    height: 20px;
}
footer .insta{
    margin-left: 46%;
}
footer .email img{
    width: 15px;
    height: 12px;
    margin-top: 3px;
}
footer .email{
    margin-left: 44%;
}
footer .email h5{
    padding-left: 3px;
}
